@keyframes bounce-up {
  0%,
  100% {
    transform: none;
    scale: 1;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  15% {
    scale: 0.75;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-15%);
    scale: 1;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounce-down {
  0%,
  100% {
    transform: none;
    scale: 1;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  15% {
    scale: 0.75;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(15%);
    scale: 1;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
